In [10]:
import pandas as pd
from typing import List, Dict, Any

students_data : Dict[str, list] = {
    "roll_no" : [1,2,3,4,5],
    "name" : ["A","B","C","D","E"],
    "marks" : [100,200,300,400,500]
}

df :pd.DataFrame = pd.DataFrame(students_data)
df

   roll_no name  marks
0        1    A    100
1        2    B    200
2        3    C    300
3        4    D    400
4        5    E    500